p {
  margin: 0;
}

.app {
  position: relative;
}

.nav {
  background-color: #16182261;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first {
  display: flex;
  align-items: center;
  width: 75%;
}

.logo {
  width: 60px;
}

.logo img {
  width: 100%;
}

.search {
  margin-left: 4px;
  width: 200px;
}

.search input {
  border: 1px solid #161822a1;
  width: 100%;
  border-radius: 3px;
  padding: 4px 6px;
}

.link {
  margin-left: 30px;
}

.link a {
  text-decoration: none;
  color: #161822a1;
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notify {
  cursor: pointer;
}

.add {
  margin-left: 20px;
  cursor: pointer;
}

.result {
  /* width: 400px; */
  position: absolute;
  background-color: #16182261;
  border: 1px solid white;
  left: 75px;
  padding: 8px;
}

.list {
  display: flex;
  align-items: center;
}

.term {
  margin-left: 20px;
}

.icon i {
  color: white;
}

.term p {
  color: white;
}

.list:not(:first-child) {
  margin-top: 10px;
}